.container {
    width: 906px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header content */
.header {}

.header__nav {}

.header__nav__list {}

.header__nav__item {}

.header__nav__link {
    color: #7D7D7D;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
}

.header__nav__link:hover,
.header__nav__link:focus {
    color: #03A9F4;
}

/* main content */
.blog__list {}

.blog__item {}

.blog__item__img {
    width: 420px;
height: 280px;
}

.blog__item__subtitle {
    color: #B4AD9E;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.blog__item__ttle {
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;

}

.blog__item__text {
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
}

.blog__button {
    width: 165px;
    height: 60px;
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
}